#next{
    background-image: url('../img/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 400px; */
    position: relative;
    text-align: center;
}
#letter{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color:#000000;
    line-height: 35px;
}
#design{
 
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
text-transform: capitalize;

color: #000000;
}
#is{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}
#we{

    font-family: 'Poppins', sans-serif;
        font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 60px;
text-transform: capitalize;
}
#why{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
text-transform: capitalize;
}
#the{
    font-family: Lato;
font-style: normal;

/* font-weight: bold; */
font-size: 20px;
/* line-height: 50px; */
/* or 179% */
}
#victor{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 50px;
/* identical to box height, or 179% */

text-align: center;
text-transform: capitalize;

color: #000000;
}
#community{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 20px;
/* line-height: 20px; */
/* or 143% */

text-transform: capitalize;

color: rgba(0, 0, 0, 0.6);
}

#train{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 40px;
/* identical to box height, or 143% */

letter-spacing: 0.2em;
text-transform: capitalize;

color: #7A37D5;
text-align: center;
}

@media only screen and ( max-width: 1024px ){
    #we{

        font-family: 'Poppins', sans-serif;
            font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    }
}
@media only screen and ( max-width: 667px ){
    #we{

        font-family: 'Poppins', sans-serif;
            font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    text-transform: capitalize;
    }
        #community{
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            text-align: center;
            /* line-height: 20px; */
            /* or 143% */
            
            text-transform: capitalize;
            
            color: rgba(0, 0, 0, 0.6);
        }
    }
@media only screen and ( max-width: 640px ){
    #we{

        font-family: 'Poppins', sans-serif;
            font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    text-transform: capitalize;
    }
    #community{
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        /* line-height: 20px; */
        /* or 143% */
        
        text-transform: capitalize;
        
        color: rgba(0, 0, 0, 0.6);
    }
}